body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #C51605;
  padding: 150px;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  background-color: #FD8D14;
  text-align: center;
}

h1 {
  font-size: 100px;
}

.container {
  margin: 60% auto;
}

button {
  display: inline;
  background-color: #CECE5A;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}
footer{
  font-size: large;
  padding: 100px;
  color: #322653;
}
